<li id="comment-<%= comment._id %>">
   
    <% if(locals.user && user.id == comment.user.id) {%>
        <a href="/comment/delete/<%= comment._id %>" class="delete-comment-button"><i class="fa-solid fa-trash"></i></a>
    <% } %>
    <%= comment.content %>
    <br>
    <%= comment.user.name %>
    <br><br>
</li>