<div>
    <form method="GET" action="/resetpassword">
        <label for="resetPassword">Email</label>
        <input type="email" placeholder="Enter your email" name="email" id="resetPassword" required/>
        <button type="submit">Send</button>
    </form>
</div>