<link rel="stylesheet" href="/css/home_page.css">
<script src="https://kit.fontawesome.com/4839a5c95b.js" crossorigin="anonymous"></script>
<script src="/js/home_page.js"></script>
<h1>Hello <%= title %></h1>

<div id="home">

    <div id="not-known">
        
    </div>

    <div id="post">
        <section>
            <% if(locals.user) {%>
                <form action="/post/create" method="Post" id="new-post-form">
                    <textarea name="content" rows="3" cols="30" placeholder="Enter the text"></textarea>
                    <input type="submit" value="Post">
                </form>
            <% } %>
        </section>

        <section>
            <ul type="none" id="post-section">
                    <%- include('_post') -%>
            </ul>
        </section>
    </div>

    <section id="profile-user">
        <h1>Users</h1>
        <ul type="none">
            <% for(let profile_user of profile_users) { %>
                <li><a href="/users/profile/<%= profile_user.id %>"><%= profile_user.name %></a></li>
            <% } %>
        </ul>
    </section>
</div>