<div>
    <form method="POST" action="/resetpassword/newpassword">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <br>
        <label for="cpassword">Confirm Password</label>
        <input type="password" name="confirm_password" id="cpassword" required>

        <button type="submit">Submit</button>
    </form>
</div>